body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 446px;
  width: 1200px;
  border-radius: 15px;
}

img {
  border-radius: 0 10px 10px 0;
  background-size: cover;
}

.header {
  flex-shrink: 50%;
  height: 100%;
}

.info {
  box-sizing: border-box;
  flex-shrink: 50%;
  height: 100%;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px 0 0 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info > h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

span {
  color: hsl(277, 64%, 61%);
}

.info > p {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 25px 0 60px 0;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.data {
  margin: 0;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 700;
}

.about {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
}

@media (min-width: 801px) {
  .mobileHeader {
    display: none;
  }
}

@media (max-width: 800px) {
  .desktopHeader {
    display: none;
  }

  
  img {
    border-radius: 10px 10px 0 0;
    width:40vw;
  }

  .info {
    border-radius: 0 0 10px 10px;
    width: 40vw;
  }

  section {
    height: 100vh;
    width: 40vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
